.serv{
    /* background-image: url("/images/image16.png"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 250px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.serv h1{
    font-size: 4rem;
    font-weight: 600;
}

@media (max-width: 768px) {
  .serv {
    background-size: cover;
    background-position: top;
    min-height: 200px;
  }
}
.blogs-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 25px;
  padding: 0 20px;
}

.blog-card {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 30px rgba(0,0,0,0.12);
}

.blog-img-container {
  position: relative;
  height: 200px;
  overflow: hidden;
}

.blog-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .4s ease;
}

.blog-card:hover .blog-img {
  transform: scale(1.1);
}


.blog-content {
  padding: 18px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.blog-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #2d2c6f;
}

.blog-excerpt {
   font-size: 13px;
  color: #636262;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.5;
  max-height: calc(1.5em * 3);
}

.blog-btn {
  align-self: flex-start;
  padding: 8px 16px;
  font-size: 14px;
  color: #fff;
  background: #d4202a;
  border-radius: 6px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.blog-btn:hover {
  background: #a01018;
}
